pipeline/pl_copy_and_transform.json
{
	"name": "pl_copy_and_transform",
	"properties": {
		"activities": [
			{
				"name": "Lookup for all tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select table_schema as SchemaName, table_name as TableName  from INFORMATION_SCHEMA.tables where table_schema='SalesLT' and lower(table_type) like '%table%';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_mimic_db_address",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup for all tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup for all tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy each table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_mimic_db",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": {
											"value": "@item().SchemaName",
											"type": "Expression"
										},
										"tableName": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_copy_tables",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": {
											"value": "@item().SchemaName",
											"type": "Expression"
										},
										"tableName": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "bronze to silver transformation",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEach table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/emmanuelforgithub@gmail.com/e2e-azureDataEngineering-project/dataBricksNotebook/bronze_to_silver"
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_databricks_e2e",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "silver to gold transformation",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "bronze to silver transformation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/emmanuelforgithub@gmail.com/e2e-azureDataEngineering-project/dataBricksNotebook/silver_to_gold"
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_databricks_e2e",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}